.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header{
    margin: auto;
    vertical-align: text-bottom;
}

.page_dark{
    background-color: #282c34;
    color: lightslategray;
}
.tabsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
    margin-top: 10px  ;
    margin-bottom: 20px  ;
}
.tab{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    font-weight: bold;
    cursor: pointer;

}
.activeTab{
    border-bottom: 3px solid var(--orange) ;
    cursor: default;
    margin-top: 3px;
}
.datepicker{
    display: inline-flex;
    flex-direction: row;

}
.calendar{
    width:auto;
    margin-left: 1rem;
    font-size: 1rem;
}
.calendar_dark {
    background-color: #282c34;
    color: lightslategray;
}

.calendarBtn {
    font-size: 28px;
    vertical-align: middle ;
}
.calendarBtn_dark  {
    color: lightslategray;
    font-size: 28px;
    vertical-align: middle ;
}

.chartsBody{
    margin: 10px auto 10px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.statContainer{
    width: 40vw;margin: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 20px;
}
@media all and ( max-width: 600px) {
    .chartsBody{
        flex-direction: column;
        align-items: center;
        margin:auto
    }
    .statContainer{
        width: 85vw;
    }
}